<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../assets/images/icons8-admin-16.png" />
    <link rel="stylesheet" href="../../../assets/styles/styles.css" />
    <link rel="stylesheet" href="./user-add.css" />
    <title>Админски Панел</title>
</head>
<body>
    <div class="create-container">
        <h1>Добавете нов фасилити мениджър</h1>
        <form class="create-form">
            <label for="username">
                Потребителско име
                <input type="text" id="username" class="custom-input"/>
            </label>
                
            <label for="password">
                Парола
                <input  id="password" type="password" class="custom-input">
                <span><input type="checkbox" class="show-password"> Покажи парола</span>
            </label>

            <button class="add-user btn-custom">Добави</button>
        </form>
    </div>
    <div class="prompt-save"></div>
<script type="module" defer src="./user-add.js"></script>
</body>
</html>