<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../../assets/images/icons8-document-16.png"
    />
    <link rel="stylesheet" href="../../../assets/styles/styles.css" />
    <link rel="stylesheet" href="./invoice.css" />
    <title>Фактури</title>
  </head>
  <body>
    <div class="page-container blur">
      <div class="filters-container">
        <label for="invoiceNumber">Номер на фактура:</label>
        <input
          class="custom-input"
          type="text"
          id="invoiceNumber"
          name="invoiceNumber"
        />
        <label for="clientName">Име на Клиент:</label>
        <input
          class="custom-input"
          type="text"
          id="clientName"
          name="clientName"
        />

        <label for="spaceName">Име на Помещение:</label>
        <input
          class="custom-input"
          type="text"
          id="spaceName"
          name="spaceName"
        />

        <label for="createdAt">Издадена след:</label>
        <input
          class="custom-input"
          type="date"
          id="createdAt"
          name="createdAt"
        />

        <div class="paid-filter">
          <input
            class="custom-input paid-checkbox"
            type="checkbox"
            id="paid"
            name="paid"
          />
          <label for="paid">Платено</label>
        </div>

        <button class="filter">Филтрирай</button>
      </div>
      <div class="invoices-container">
        <table class="custom-table">
          <thead>
            <tr>
              <th class="tw-1">
                Номер на фактура
                <span
                  class="material-symbols-outlined invoiceNumber-sort ascending"
                  >arrow_drop_down</span
                >
              </th>
              <th class="tw-2">
                Дата на издаване
                <span class="material-symbols-outlined createdAt-sort ascending"
                  >arrow_drop_down</span
                >
              </th>
              <th class="tw-3">
                Клиент
                <span
                  class="material-symbols-outlined clientName-sort ascending"
                  >arrow_drop_down</span
                >
              </th>
              <th class="tw-4">
                Помещение
                <span
                  class="material-symbols-outlined spaceName-sort ascending active"
                  >arrow_drop_down</span
                >
              </th>
              <th class="tw-5">
                Цена
                <span class="material-symbols-outlined amount-sort ascending"
                  >arrow_drop_down</span
                >
              </th>
              <th class="tw-6">Опции</th>
            </tr>
          </thead>
          <tbody class="invoices-table-body"></tbody>
        </table>
      </div>
    </div>
    <div class="loader"></div>
    <div class="prompt-save"></div>
    <script type="module" defer src="./invoice.js"></script>
  </body>
</html>
