<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/styles/styles.css">
    <link rel="stylesheet" href="./consumables.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/icons8-building-16.png" />
    <title>Консумативи</title>
</head>
<body>
    <div class="consumables-container blur">
        <button class="btn-custom create-new hoverable">Нов Консуматив</button>
    <table class="custom-table">
        <thead>
          <tr>
            <th class="tw-1">Консуматив 
            <span class="material-symbols-outlined name-sort ascending active">arrow_drop_down</span>
            </th>
            <th class="tw-2">Цена
            <span class="material-symbols-outlined price-sort ascending">arrow_drop_down</span>
            </th>
            <th class="tw-3">Мерна единица</th>
            <th class="tw-4">Опции</th>
          </tr>
        </thead>
        <tbody class="consumables">

        </tbody>
      </table>
      <button class="save-context btn-custom">Запази промените</button>
    </div>
    <div class="loader"></div>
    <div class="prompt-save"></div>
    <script type="module" src="./consumables.js"></script>
</body>
</html>